html {
    height: 100%;
    max-width: 100%;
    background: radial-gradient(circle, #ffffff 2%, #004157 98%);
    background-size: 500% 500%;
    animation: change 60s ease-in-out infinite;
    }
 ul {
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
li {
    text-decoration: none;
}

a{
    text-decoration: none;
    animation: fadeOutUp;
    animation-duration: 2s;
}

.back a{
    text-decoration: none;
}