html {
    height: 100%;
    max-width: 100%;
    background: radial-gradient(circle, #ffffff 2%, #004157 98%);
    background-size: 500% 500%;
    animation: change 60s ease-in-out infinite;
    }

    @font-face {
        font-family: 'Everett';
        src: url('fonts/Everett-Regular.woff2') format('woff2'),
            url('fonts/Everett-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      body {
          font-family: Everett;
          color: white;
      }
      
       /*ellipse */
.ellipse {
    width: 50px;
    height: 50px;
   
    margin: .15em;
    
    border: 3px solid #ffffff;
    border-radius: 50%;
    /*text*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Phase-A;
    font-size: 1em;
    color: white;
    }

.ellipse:hover {
    animation: fadeOutUpBig;
    
    animation-duration: .1s;
    
}

a {
    color: white;
    text-decoration: none;
}
